body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

#search {
    text-align: center;
    margin: 20px;
}

#book-list {
    margin: 20px;
}

#add-book-form {
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#book-form input, #book-form textarea, #book-form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
}

#book-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#book-form button:hover {
    background-color: #45a049;
}

.star-rating input {
    display: none; /* Hide radio buttons */
}

.star-rating label {
    font-size: 30px;
    color: #ccc; /* Light gray for unselected stars */
    cursor: pointer;
    padding: 0 5px;
}

.star-rating input:checked ~ label {
    color: #ffcc00; /* Yellow for selected stars */
}

.star-rating label:hover, .star-rating label:hover ~ label {
    color: #ffcc00; /* Change color on hover */
}

#books li {
    list-style-type: none;
    background-color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
